<!--
Adapted by:
Alejandra Martínez, Charalampos Efstratiou and Tom Antoine
GNC subteam, group 1, GDP AVDC 2020-2021
email:
alejandra.martinez-farina@cranfield.ac.uk
charalampos.efstratiou@cranfield.ac.uk
tom.antoine@cranfield.ac.uk

Based on a code by:
author: Eric Johnson
github: https://github.com/Intelligent-Quads

Please feel free to use and modify this, but keep the above information. Thanks!
-->
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find iq_sim)/worlds/multi_drone.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>
